.localsearch-container{
    min-height: 30vh;
    padding: 1rem;
}

.localsearch-position{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-icon{
    width: 5rem;
}

.position-container{
    display: flex;
    justify-content: center;
}

.position-container > button{
    background-color: transparent;
    border: 0;
}

.slider-container{
    width: 100%;
    margin: 1rem 0rem;
}

.slider-line{
    display: flex;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgba(82, 164, 0, 0.808);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgba(82, 164, 0, 0.808);
    cursor: pointer;
}

.button-container{
    width: 100%;
    display: flex;
}

.localsearch-button{
    margin: 0.5rem;
    width: 50%;
    background: #8ec064;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border-color: #8ec064;
}